.cell {
    width: 30%;
    height: 40%;
    margin: 8px;
    float: left;
    padding: 3px;
    background-color: #BBBBBB;
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}