{{define "item"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="style/item.css">

    <script src="script/item.js"></script>
    <script src="script/babylon.js"></script>
</head>

<body>
    <div class="product-container">
        <div class="product-image">
            <img src="asset/image/Lena.png" alt="Product Image" id="product-img">
        </div>
        <div class="product-info">
            <h1>Product Name</h1>
            <p>This is a detailed description of the product...</p>
        </div>
    </div>

    <!-- ポップアップ用のdiv -->
    <div id="image-popup" class="popup">
        <span class="close" id="close-popup">&times;</span>
        <img class="popup-content" id="popup-img">
    </div>
</body>

</html>

{{end}}